{% extends 'employerbase.html' %}{% block content %}
<div class="container mt-5 pt-4 ">
    <h2 class="text-center mt-4 display-7 fw-bold  mb-5">PROFILE</h2>
    <div class="row align-items-center justify-content-center ">
        <div class="col-xs-12 col-md-6 col-sm-9">
            <!-- User profile -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="profile__avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                    </div>
                    <div class="profile__header">
                        <h4> <small>
                            Company Name</small></h4>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nostrum odio cum repellat veniam eligendi rem cumque magnam autem delectus qui.
                        </p>
                        <p>
                            <a href="#"></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- User info -->
            <div class="panel panel-default mt-4">
                <div class="panel-heading">
                    <h4 class="panel-title">company info</h4>
                </div>
                <div class="panel-body">
                    <table class="table profile__table">
                        <tbody>
                            <tr>
                                <th><strong>Location</strong></th>
                                <td>United States</td>
                            </tr>
                            <tr>
                                <th><strong>Company name</strong></th>
                                <td>Simpleqode.com</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Community -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Community</h4>
                </div>
                <div class="panel-body">
                    <table class="table profile__table">
                        <tbody>
                            <tr>
                                <th><strong>Comments</strong></th>
                                <td>58584</td>
                            </tr>
                            <tr>
                                <th><strong>Member since</strong></th>
                                <td>Jan 01, 2016</td>
                            </tr>
                            <tr>
                                <th><strong>Last login</strong></th>
                                <td>1 day ago</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Latest posts -->
        </div>
        <div class="col-xs-12 col-sm-3">
            <!-- Contact user -->

            <hr class="profile__contact-hr">
            <!-- Contact info -->
            <div class="profile__contact-info">

                <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="profile__contact-info-body">
                        <h5 class="profile__contact-info-heading">Mobile number</h5>
                        (000)987-65-43
                    </div>
                </div>
                <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                        <i class="fa fa-envelope-square"></i>
                    </div>
                    <div class="profile__contact-info-body">
                        <h5 class="profile__contact-info-heading">E-mail address</h5>
                        <a href="mailto:admin@domain.com">admin@domain.com</a>
                    </div>
                </div>
                <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="profile__contact-info-body">
                        <h5 class="profile__contact-info-heading">Work address</h5>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endblock %}