{% extends 'basead.html' %}{% block content %}



<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>

                <a class="btn btn-primary" href="{% url 'emrad' %}" role="button">close</a>
            </div>
            <div class="modal-body">
                <form action="">

                    <div class="col-sm-12">
                        <label for="jobtitle" class="form-label">companyname</label>
                        <input name="jobtitle" type="text" class="form-control" id="companyname" value="{{detail.companyname}}" placeholder="" required>
                    </div>
                    <div class="col-sm-12">
                        <label for="com_name" class="form-label"> email</label>
                        <input name="com_name" type="text" class="form-control" id="emailid" value="{{detail.emailid}}" placeholder=" " required>
                    </div>
                    <div class="col-sm-12">
                        <label for="jobtitle" class="form-label">password</label>
                        <input name="jobtitle" type="text" class="form-control" id="epassword" value="{{detail.epassword}}" placeholder="" required>
                    </div>
                    <div class="col-sm-12">
                        <label for="com_name" class="form-label">mobilenumber</label>
                        <input name="com_name" type="text" class="form-control" id="emobilenumber" value="{{detail.emobilenumber}}" placeholder=" " required>
                    </div>
                    {% comment %} <div class="col-sm-12">
                        <label for="com_name" class="form-label">mobile number</label>
                        <input name="com_name" type="text" class="form-control" id="smobile" value="{{detail.smobilenumber}}" placeholder=" " required>
                    </div> {% endcomment %}

                    <input name="com_name" type="hidden" class="form-control" id="id" value="{{detail.id}}">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="empostajax()">update</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block adscript %}


<script>
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });

    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{csrf_token}}'
        }
    });

    function empostajax() {
        $.ajax({
            url: '/editem/',
            type: 'POST',
            data: {
                companyname: $('#companyname').val(),
                emailid: $('#emailid').val(),
                epassword: $('#epassword').val(),
                emobilenumber: $('#emobilenumber').val(),          
                id: $('#id').val(),
            },
        })
    }
</script>



{% endblock adscript %}