{% extends 'basead.html' %}{% block content %}





<div id="modal-div">
    <div class="modal fade " id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>

                    <a class="btn btn-primary" href="{% url 'jbtb' %}" role="button">close</a>

                </div>
                <div class="modal-body">
                    <form class="needs-validation" id="post-job" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="jobtitle" class="form-label">Job Title</label>
                                <input name="jobtitle" type="text" class="form-control" id="jobtitle" value="{{detail.jobtitile}}" placeholder="" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="com_name" class="form-label">Company Name</label>
                                <input name="com_name" type="text" class="form-control" id="com_name" value="{{detail.companyname}}" placeholder=" " required>
                            </div>
                            <div class="col-sm-6 ">
                                <label for="p_location " class="form-label ">location</label>
                                <select class="form-select " id="p_location" name="p_location " required>
                                 
                  
                </select>
                            </div>
                            <div class="col-sm-6 ">
                                <label for="categories " class="form-label ">job type</label>
                                <select class="form-select " id="jobtype" required>
                   <option selected  value="{{detail.jobtype}}">{{detail.jobtype}}</option>
                   <option value="full time ">full time</option>
                   <option value="intern ">intern</option>
                   <option value="intern ">part time</option>
                </select>
                            </div>
                            <div class="col-sm-12 ">
                                <label for="categories " class="form-label ">job category</label>
                                <select class="form-select " id="jobcategories" name="categories " required>
                                    <option selected  value="{{detail.jobcategory}}">{{detail.jobcategory}}</option>
                   <option value="Real Estate">Real Estate</option>
                   <option value="marketing">marketing</option>
                   <option value="education">education</option>
                   <option value="healthcare">healthcare</option>
                   <option value="science">science</option>
                   <option value="Technologies">Technologies</option>
                   <option value="Design">Design</option>
                   <option value="food services">food services</option>
                </select>
                            </div>
                            <div class="col-12 ">
                                <label for="Description ">job Description:</label>
                                <textarea class="form-control " aria-label="With textarea " id="jobdesc" required>{{detail.jobdescription}}</textarea>

                            </div>
                            <div class="col-12 ">
                                <label for="Description ">Skills, and Abilities</label>
                                <input name="jobtitle " type="text " class="form-control " value="{{detail.skill1}}" id="skill1" placeholder=" " required>
                                <input name="jobtitle " type="text " class="form-control " value="{{detail.skill2}}" id="skill2" placeholder=" " required>
                                <input name="jobtitle " type="text " class="form-control " value="{{detail.skill3}}" id="skill3" placeholder=" " required>
                                <input name="jobtitle " type="text " class="form-control " value="{{detail.skill4}}" id="skill4" placeholder=" " required>
                            </div>
                            <div class="col-sm-6 ">
                                <label for="experience " class="form-label ">Experience
                </label>
                                <select class="form-select " id="Experience" name="experience " required>
                                    <option selected  value="{{detail.experiance}}">{{detail.experiance}}</option>
                   <option value="fresher ">fresher</option>
                   <option value="1 year ">1 year</option>
                   <option value="1 to 5 year ">1 to 5 year</option>
                   <option value="5 to 10 year ">5 to 10 year</option>
                   <option value="10 to 20 year ">10 to 20 year</option>
                </select>
                            </div>
                            <div class="col-sm-6 ">
                                <label for="Salary " class="form-label ">Salary Range
                </label>

                                <input name="jobtitle " type="text " value="{{detail.salary}}" class="form-control " id="salary" placeholder=" " required>
                            </div>

                            <div class="col-12 ">
                                <label for="qualification " class="form-label ">Education Qualification</label>
                                <input name="qualification " value="{{detail.qualification}}" type="text " class="form-control " id="qualification" required>
                                <input name="qualification " value="{{detail.id}}" type="hidden" class="form-control " id="id">
                            </div>

                        </div>
                        <hr class="my-4 ">
                        <button class="w-100 btn btn-primary btn-lg " type="submit" onclick="empostajax()">POST</button>
                    </form>
                </div>
                <div class="modal-footer ">
                    <!-- <button type="button " class="btn btn-secondary " data-bs-dismiss="modal ">Close</button>
                    <button type="button " class="btn btn-primary ">Understood</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
















{% endblock %} {% block adscript %}

<script>
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });


    function locationa() {
        var month = ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka',
            'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'
        ]
        var mn = "<option value='{{detail.location}}'>{{detail.location}}</option>";
        for (i = 0; i <
            month.length; i++) {
            mn += "<option value='" + month[i] + "'>" + month[i] + "</option>";
        }
        document.getElementById('p_location').innerHTML = mn;

    }

    window.onload = function() {
        locationa();
    };

    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{csrf_token}}'
        }
    });

    function empostajax() {
        $.ajax({
            url: '/editjb/',
            type: 'POST',
            data: {
                jobtitle: $('#jobtitle').val(),
                com_name: $('#com_name').val(),
                p_location: $('#p_location').val(),
                jobtype: $('#jobtype').val(),
                jobdesc: $('#jobdesc').val(),
                skill1: $('#skill1').val(),
                skill2: $('#skill2').val(),
                skill3: $('#skill3').val(),
                skill4: $('#skill4').val(),
                jobcategories: $('#jobcategories').val(),
                experience: $('#Experience').val(),
                salary: $('#salary').val(),
                qualification: $('#qualification').val(),
                id: $('#id').val(),


            },


        })
    }
</script>




{% endblock adscript %}